@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
html {
    background-color: #002b36;
    color: #839496;
    margin: 1em auto;
    font-weight: 400;
    font-family: 'Fira Mono', monospace;
    font-size: 14px;
    max-width: 930px;
}

body {
    background-color: #073642;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px, rgba(15, 17, 21, 0.1) 0px 5px 7px;
}
   
img {
    background-color: #073642;
    padding: 2px;
    border-radius: 8px;
}
   
code {
    background-color: #073642;
    padding: 2px
}

hr {
    border-color: #839496;
}

a {
    color: #cb4b16;
    text-decoration: none;
}

h1,
h2,
h4,
h5,
h6 { color: #859900; }
   
h1:before { content: "| " }
h2:before { content: "|| " }
h3:before { content: "||| " }
h4:before { content: "|||| " }
h5:before { content: "||||| " }
h6:before { content: "|||||| " }

.error h1:before {
    content: ""
}

h2:before,
h4:before,
h5:before,
h6:before { color: #859900; }
ul { line-height: 200% }
ol { line-height: 200% }
dl { line-height: 200% }
   
pre {
    background-color: #002b36;
    color: #839496;
    border-radius: 8px;
    box-shadow: rgba(15, 17, 21, 0.25) 0px 4px 6px, rgba(15, 17, 21, 0.1) 0px 5px 7px;
}

pre code { 
    background-color: #002b36;
    border-radius: 8px;
}
