html {
    background-color: #073642;
    color: #839496;
    margin: 1em;
    font-family: monospace;
}

body {
    background-color: #002b36;
    margin: 1em;
    border: 1pt solid #586e75;
    padding: 1em;
}
   
img {
    background-color: #073642;
    padding: 2px;
}
   
code {
    background-color: #073642;
    padding: 2px
}
   
a { color: #b58900 }
a:visited { color: #cb4b16 }
a:hover { color: #cb4b16 }
   
h1 { color: #d33682 }
h2,
h3,
h4,
h5,
h6 { color: #859900 }
   
h1:before { content: "| " }
h2:before { content: "|| " }
h3:before { content: "||| " }
h4:before { content: "|||| " }
h5:before { content: "||||| " }
h6:before { content: "|||||| " }
   
h1:before { color: #d33682; }
h2:before,
h3:before,
h4:before,
h5:before,
h6:before { color: #859900; }
   
ul { line-height: 200% }
ol { line-height: 200% }
dl { line-height: 200% }
   
blockquote { font-style: italic; }
   
pre {
    background-color: #002b36;
    color: #839496;
    border: 1pt solid #586e75;
    padding: 1em;
    box-shadow: 5pt 5pt 8pt #073642
}

pre code { background-color: #002b36 }
